body {
  padding: 0px 50px 0px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
header#logo
{
	width : 100%;
	border : 2px solid black;
	border-radius : 20px;
}

header#logo h1
{
	text-align : center;
}
a {
  color: #00B7FF;
}

.data
{
	font-size : 25px;
	color : green;
}
.grid { 
	margin : 1em auto; 
	border-collapse : collapse 
}
.grid td {
    cursor : pointer;
    width : 40px; 
	height : 40px;
    border : 1px solid #ccc;
}
.grid td.clicked {
    background-color : yellow;
	text-align : center;
	font-weight: bold;
}
.error
{
	color: red;
	font-weight: bold;
}
